button:active,
button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: transparent;
}

img {
  max-width: 100%;
}
