// text-colors //
$primary-text-color: #fff;
$secondary-text-color: #478bf9;
$third-text-color: rgba(255, 255, 255, 0.6);

// background-colors //

$main-blue: #478bf9;

// fonts //
$primary-font: "Lexend", sans-serif;
$secondary-font: "Futura PT";

// content //
$content-width: 1640px;
